@charset "UTF-8";
/*                ヘッダー header
======================================================= */
.p-hd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .p-hd {
    height: 80px;
  }
}

.p-hd_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  padding-right: 100px;
}
.p-hd_logo:hover img {
  animation: logo 1s infinite;
}
@keyframes logo {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.p-dh-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.hd-nav {
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .hd-nav {
    display: none;
  }
}

.hd-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hd-nav-item {
  height: 100%;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hd-nav-item:last-child {
  padding-right: 0;
}

.hd-nav-link {
  display: block;
  padding: 0 10px;
}
.hd-nav-link:not(.current):hover span {
  color: #0bd;
}
.hd-nav-link:not(.current):hover span::before {
  width: 100%;
  opacity: 1;
  left: 0;
  transition: all 0.5s;
}

.hd-nav-link span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #0a182b;
  font-family: "Sofia", cursive;
  font-style: italic;
  position: relative;
  transition: all 1s;
}
.hd-nav-link span::before {
  position: absolute;
  content: "";
  width: 0;
  opacity: 0;
  height: 2px;
  background-color: #0bd;
  bottom: -5px;
  left: 50%;
}

.contact-form {
  height: 80%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
}

/*                ハンバーガーメニュー sp-menu
======================================================= */
.l-sp-menu-btn {
  height: 60px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 20px;
  position: absolute;
  left: 55%;
  top: 10px;
  z-index: 101;
  overflow: hidden;
  margin-left: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  .l-sp-menu-btn {
    display: none;
  }
}
.l-sp-menu-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 100%;
  opacity: 0;
  background-color: rgba(27, 68, 54, 0.8);
  left: 0;
  overflow: hidden;
}
.l-sp-menu-btn:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s;
}
.l-sp-menu-btn:hover .p-sp-menu-btn-title {
  color: #fff !important;
  z-index: 200;
}

.p-sp-menu-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.p-sp-menu-btn-title {
  font-size: 20px;
  font-weight: 500;
  font-family: "Sofia", cursive;
  color: #0a182b;
}

/*                オーバーレイ sp-menu-overlay
======================================================= */
.l-sp-menu {
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  pointer-events: none;
}
@media only screen and (min-width: 769px) {
  .l-sp-menu {
    display: none;
  }
}
.l-sp-menu.active {
  height: 100vh;
  opacity: 1;
  pointer-events: auto;
  transition: all 1s;
}

.p-sp-menu {
  height: 100%;
  overflow-y: auto;
}

.p-sp-menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.p-sp-menu__item {
  display: flex;
  justify-content: center;
}
.p-sp-menu__item--contact {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f1ec;
}

.p-sp-menu__link {
  color: #fff;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  height: 120px;
  font-family: "Sofia", cursive;
}
.p-sp-menu__link span {
  position: relative;
}
.p-sp-menu__link span::before {
  position: absolute;
  content: "";
  width: 0;
  opacity: 0;
  height: 2px;
  background-color: #0bd;
  bottom: -2px;
  left: 50%;
  transition: all 0.5s;
}
.p-sp-menu__link:not(.current):hover {
  color: #0bd;
}
.p-sp-menu__link:not(.current):hover span::before {
  width: 100%;
  opacity: 1;
  left: 0;
  transition: all 0.5s;
}
.p-sp-menu__link--contact-btn {
  color: #0a182b;
  line-height: 120px;
}

/*                フッター footer
======================================================= */
.l-footer {
  width: 100%;
  height: 120px;
  background-color: #2d8c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
@media only screen and (max-width: 480px) {
  .l-footer {
    height: 100px;
  }
}
.l-footer.load {
  opacity: 1;
  transition: all 1s;
}
.l-footer .p-footer-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Sofia", cursive;
  font-style: italic;
  color: #fff;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  .l-footer .p-footer-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .l-footer .p-footer-title {
    font-size: 16px;
  }
}
.l-footer .p-footer-date {
  display: block;
  font-size: 8px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .l-footer .p-footer-date {
    font-size: 8px;
  }
}
@media only screen and (max-width: 480px) {
  .l-footer .p-footer-date {
    font-size: 8px;
  }
}

/*                パンくずリスト breadcrumb
======================================================= */
.header-title {
  display: flex;
  align-items: center;
  gap: 0 12px;
  background-color: #2d8c3c;
  height: 50px;
  padding-left: 28px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .header-title {
    height: 40px;
    padding-left: 12px;
    font-size: 14px;
    gap: 0 6px;
  }
}
@media only screen and (max-width: 480px) {
  .header-title {
    height: 30px;
    padding-left: 6px;
    font-size: 10px;
    gap: 0 2px;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/*                開いているページのナビゲーション current
======================================================= */
.hd-nav-link.current span {
  color: #e6282a;
}

.p-sp-menu__link.current span {
  color: #e6282a;
}

body {
  -webkit-text-size-adjust: 100%; /* 勝手に文字が拡大されるのを防ぐ */
  /* 以下、案件ごとに適宜変更 */
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
}

.l-wrapper {
  padding-top: 100px;
  overflow: hidden;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .l-wrapper {
    padding-top: 80px;
  }
}

/*                メイン main
======================================================= */
.l-contact {
  width: min(1000px, 94%);
  background-color: #eee;
  margin: 50px auto;
  padding: 50px 0;
  border-radius: 30px;
}

.p-contact-form {
  padding: 0 2%;
}

.p-contact-main-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 64px;
}

.input {
  display: flex;
  align-items: center;
  height: max(60px, 6vw);
  margin-bottom: max(36px, 4vw);
}
.input p {
  width: 20%;
  height: 100%;
  font-size: clamp(12px, 2vw, 24px);
  display: flex;
  align-items: center;
}
.input .wpcf7-form-control-wrap {
  width: 70%;
  height: 80%;
}
.input .wpcf7-form-control-wrap input {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 5%;
  border-radius: 20px;
  font-size: clamp(12px, 2vw, 24px);
}
.input .wpcf7-not-valid-tip {
  padding-left: 10px;
  font-size: clamp(10px, 1.8vw, 20px);
  display: block;
  margin-top: 10px;
}

.textarea {
  display: flex;
  align-items: center;
  height: min(200px, 20vw);
  margin-bottom: max(36px, 4vw);
}
.textarea p {
  width: 20%;
  height: 100%;
  font-size: clamp(12px, 2vw, 24px);
  display: flex;
  align-items: start;
  padding-top: min(40px, 4vw);
}
.textarea .wpcf7-form-control-wrap {
  width: 70%;
  height: 80%;
}
.textarea .wpcf7-form-control-wrap textarea {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2% 5%;
  border-radius: 20px;
  font-size: clamp(10px, 1.8vw, 24px);
  line-height: 1.8;
}
.textarea .wpcf7-not-valid-tip {
  display: block;
  font-size: clamp(10px, 1.8vw, 24px);
  margin-top: 10px;
}

.submit {
  background-color: #2d8c3c;
  width: max(200px, 30vw);
  height: max(40px, 6vw);
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}
.submit .wpcf7-form-control {
  color: #fff;
  font-size: clamp(24px, 3.2vw, 48px);
  font-weight: 700;
}
.submit .wpcf7-spinner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20%;
}/*# sourceMappingURL=contact.css.map */